<html>
  <head>
    <style type="text/css">
      body {background-color:#dcdcdc;}
      .heading {height:40; font-weight:bold}
      .indent  {padding-left:30px}
      .right   {text-align:right}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>